<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div th:if="${visiteurs != null and !visiteurs.isEmpty()}">
                <h2 class="my-5">Visiteur</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="visiteur : ${visiteurs}">
                        <td th:text="${visiteur.nom}"></td>
                        <td th:text="${visiteur.prenom}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h2 class="my-5">Enregistrer un visiteur</h2>
            <form method="POST" action="/register">
                <p>
                    Nom:
                    <input type="text" size="25" name="nom" required>
                </p>
                <p>
                    Prenom:
                    <input type="text" size="25" name="prenom" required>
                </p>
                <br><input type="submit" value="Enregistrer"><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>